:root {
  --boat-house-ocean: #307BF9;
  --boat-house-sky: #8CB5FB;
  --boat-house-fold: #79AAFB;
  --boat-house-pale: #AECFFD;
  --boat-house-ink: #14263F;
  --boat-house-black: #151515;
  --boat-house-white: #FFFFFF;
}
